li {
  list-style: none;
  float: left;
}


.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo{
  font-size:40px;
  padding:20px 30px
  float: left;
}



.main{
  background-color:#ffffff
  color:#000000;
  padding: 100px 80px
}

.footer{
  background-color: #f5deb3;
  color: #fff;
  height: 90px;
}

.footer-logo{
  font-size:40px;
  padding:20px 30px
}

.footer-list{
  float: left;
}
